
/*instructions popup styling */

.popup-instruction-overlay {
    /*Hides instructions pop-up*/
    visibility: hidden;
    position: absolute;
    background: #b96d6d;
    border: 3px solid #666666;
    width: 95%;
    height: auto;
    left: 2.5%;
    top:16%

  }
  
  .popup-instruction-overlay.active {
    /*displays instructions popup*/
    visibility: visible;
  }
  
  .popup-instruction-content {
    /*Hides instructions pop-up content*/
    visibility: hidden;
  }
  
  .popup-instruction-content.active {
    /*Shows instructions pop-up content */
    visibility: visible;
    list-style-position: inside;
    margin-right: 30px;
  }

  .choose-game {
    display: none;
  }

  .main-game {
    display: none;
  }
