
/*instructions popup styling */

.popup-instruction-overlay {
    /*Hides instructions pop-up*/
    visibility: hidden;
    position: absolute;
    background: #b96d6d;
    border: 3px solid #666666;
    width: 95%;
    height: auto;
    left: 2.5%;
    top:16%
  }
  
  .popup-instruction-overlay.active {
    /*displays instructions popup*/
    visibility: visible;
  }
  
  .popup-instruction-content {
    /*Hides instructions pop-up content*/
    visibility: hidden;
  }
  
  .popup-instruction-content.active {
    /*Shows instructions pop-up content */
    visibility: visible;
    list-style-position: inside;
    margin-right: 30px;
  }

/*game start and selectors*/

  /*hides choose game buttons from DOM*/
  .choose-game {
    display: none;
  }

  /*Shows choose game buttons in DOM*/
  .choose-game.active {
    display:block;
  }

  /*Shows the start section at the beggining of the game*/
  .begin-section {
    display: block;
  }

  /*Hides the start section at the beggining of the game*/
  .begin-section.inactive {
    display:none;
  }

  /*Shows the main title in the DOM*/
  .header-text {
    display:block;
  }

  /*Hides the main title in the DOM*/
  .header-text.inactive {
    display:none;
  }

  /*Shows the instructions in the dom*/
  .instructions {
    display:block;
  }

  /*Hides the instructions in the DOM*/
  .instructions.inactive {
    display:none;
  }
  /*Hides main game from DOM*/
  .main-game {
    display: none;
  }

  /*Shows main game in DOM*/
  .main-game.active {
    display:block;
  }

  /*Hides farm cards from DOM*/
  .farm-cards {
    display: none;
  }

  /*Shows farm cards in the DOM*/
  .farm-cards.active {
    display:block;
  }

  /*Hides space cards from DOM*/
  .space-cards {
    display: none;
  }

  /*Shows space cards in the DOM*/
  .space-cards.active {
    display:block;
  }

  /*Hides car cards from DOM*/
  .car-cards {
    display: none;
  }

  /*Shows car cards in the DOM*/
  .car-cards.active {
    display:block;
  }